<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<section id="portfolio-details" class="portfolio-details py-5">
  <div class="container">
    <div class="row gy-4 align-items-center">

      <!-- Chap tomonda rasm -->
      <div class="col-lg-6">
        <div class="portfolio-image">
          <img src="{{ portfolio.image.url }}" class="img-fluid rounded shadow" alt="{{ portfolio.title }}">
        </div>
      </div>

      <!-- O‘ng tomonda ma’lumot -->
      <div class="col-lg-6">
        <div class="portfolio-info mb-4" data-aos="fade-left" data-aos-delay="200">
          <h3>{{ portfolio.title }}</h3>
          <ul class="list-unstyled">
            <li><strong>Category</strong>: {{ portfolio.category }}</li>
            <li><strong>Client</strong>: {{ portfolio.client }}</li>
            <li><strong>Project date</strong>: {{ portfolio.project_date }}</li>
            <li><strong>Project URL</strong>: 
              <a href="{{ portfolio.project_url }}" target="_blank">{{ portfolio.project_url }}</a>
            </li>
          </ul>
        </div>
        <div class="portfolio-description" data-aos="fade-left" data-aos-delay="300">
          <p>{{ portfolio.description }}</p>
        </div>
      </div>

    </div>
  </div>
</section>


</body>
</html>